.your-order table {
  width: 100%;
}
.your-order table th {
  border-top: none;
  color: #6f7172;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}
.your-order table td,
.your-order table th {
  border-bottom: 1px solid #eaedff;
  border-right: none;
  color: #6f7172;
  font-size: 14px;
  padding: 15px 0;
  text-align: left;
}
